@model AppLogin.Model.OperacionesCultivo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OperacionesCultivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOperacion" />
            <div class="form-group">
                <label asp-for="IdEstadoOperacion" class="control-label"></label>
                <input asp-for="IdEstadoOperacion" class="form-control" />
                <span asp-validation-for="IdEstadoOperacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOperacion" class="control-label"></label>
                <input asp-for="FechaOperacion" class="form-control" />
                <span asp-validation-for="FechaOperacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCultivo" class="control-label"></label>
                <input asp-for="IdCultivo" class="form-control" />
                <span asp-validation-for="IdCultivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAgricultor" class="control-label"></label>
                <input asp-for="IdAgricultor" class="form-control" />
                <span asp-validation-for="IdAgricultor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
